.btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  display: block;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.sidebar-file-item {
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ddd;
}

.sidebar-file-item:hover {
  background-color: #e6f7ff;
  border-color: #1890ff;
}

.sidebar-file-item.active {
  background-color: #1890ff;
  color: white;
  border-color: #1890ff;
}